/* TODO: 제목 디자인 1 */
.title {
    background-color: green;
    color: white;
}
/* TODO: 제목 디자인 2 */
.title2 {
    background-color: yellow;
    color: black;
}
/* TODO: 제목 디자인 2 */
.title3 {
    background-color: blue;
    color: white;
}